<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <h1>Hello, 👋</h1>
    <h3>you can edit the post </h3>
    <form action="/update/<%= post._id %>" method="post">
        <textarea name="content" placeholder="What's in your mind?"></textarea>
        <input type="submit" value="Update Post">
    </form>

</body>
</html>