<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <h1>Hello, <%= user.name %> 👋</h1>
    <h3>you can Create a new post </h3>
    <form action="/post" method="post">
        <textarea name="content" placeholder="What's in your mind?"></textarea>
        <input type="submit" value="Create new post">
    </form>

    <div class="posts">
    <h4>Your Posts.</h4>
<div class="postContainer">
    <% user.posts.reverse().forEach((post) => { %>
        <div class="post">
            <h4>@<%= user.username %></h4>
            <p><%= post.content %></p>
            <div>
                <a href="">Like</a>
                <a href="">Edit</a>
            </div>
        </div>
  <%  }) %>
</div>
    </div>

</body>
</html>